.current-page {
  padding: 8px;
  height: 100%;
}

.header {
  background-color: white;
  height: 48px;
  width: 100%;
  height: inherit;
  display: flex;
  position: fixed;

  position: fixed;
}

.spacer {
  height: 48px;
}

@media screen and (width > 800px) {
  #menu-button {
    display: none;
  }
}
