.navbar {
  height: 100vh;
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ul {
  list-style: none;
}

li {
  padding: 4px;
}

@media screen and (width <= 500px) {
  .navbar {
    display: none;
  }
}
