table {
  border-collapse: collapse;
  border: 2px solid black;
}

th,
tr,
td {
  border: 2px solid black;
}

.total-table-row {
  width: 100%;
  border: 1px solid red;
}

tfoot th,
tfoot td {
  text-align: right;
}
