* {
  box-sizing: border-box;
  margin: 0;
}

.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
